#include("manage/header.vm")

<script>
    var contracts = [];
    $.ajax({url: '/manage/contracts.json',dataType: 'json',type: 'GET'})
        .done(function(data) { contracts = data;})
        .fail(function(data) { $('.error').text($.parseJSON(data.responseText).message);});
</script>

<header>
<em>GridPort Server Instance</em> | $request.getRemoteHost() | $this.getCurrentUser()  
| <a href="$this.getLogsUrl()">logs</a> 
| <form style="display:inline;" method="POST" action="$this.getRestartUrl()" onsubmit='return confirm("Reload configuration and restart the server ?");'><input type="submit" name="restart" value="RESTART"/></form>
</header>

#if ($msg != "")
<a class="error">$msg</a> 
#end

<table cellpadding="10">
<tr>
<td>
    <section>
    <h2>Users & Groups</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Groups</th>
                <th><form style="display:inline;" method="POST" action="$this.getUsersUrl()" onsubmit='this.username.value=prompt("New username:"); return this.username.value ? true : false;'><input type="hidden" name="username"/><input type="submit" name="newuser" value="ADD"/></form></th>
            </tr>
        </thead>
        <tbody>
        #foreach( $user in $users )
            <tr><td><a href="$this.getUsersUrl()/$user.getUsername()">$user.getUsername()</a></td><td>$user.getGroups()</td></tr>
        #end
        </tbody>
    </table>
    </section>
</td>
<td>
    <section>
    <h2>Contracts & SLAs</h2>
    <table>
        <thead>
            <tr>
                <th>Contract-Name</th>
                <th>IP-Ranges</th>
                <th>Groups</th>
                <th>Rate</th>
                <th><form style="display:inline;" method="POST" action="$this.getContractsUrl()" onsubmit='this.name.value=prompt("New contract name:"); return this.name.value ? true : false;'><input type="hidden" name="name"/><input type="submit" value="ADD"/></form></th>
            </tr>
        </thead>
        <tbody>
        #foreach( $contract in $contracts )
            <tr>
            <td><a href="$this.getContractUrl($contract)">$contract.getName()</a></td>
            <td>$contract.getIpRange()</td>
            <td>$contract.getAuthGroupList()</td>
            <td>#if ($contract.getIntervalMs()>0) $contract.getFrequency()/$contract.getIntervalMs()ms #end</td>
            </tr>
        #end
        </tbody>
    </table>
    </section>
</td>
</tr>
<tr>
<td colspan="2">
    <section>
        <h2>Routing Table (Endpoints)</h2>
        <table>
            <thead>
                <th>ID</id>
                <th>METHOD</id>
                <th>SSL</id>
                <th>GATEWAY</id>
                <th>URI-BASE</th>
                <th>ENDPOINT-BASE</th>
                <th>ASYNC</th>
            </thead>
            <tbody>
            #foreach( $endpoint in $endpoints.values() )
                <tr>
                    <td>$endpoint.getId()</td>
                    <td>#if ($endpoint.getHttpMethod()) $endpoint.getHttpMethod()#end</td>
                    <td>#if ($endpoint.getSsl()) $endpoint.getSsl()#end</td>
                    <td>#if ($endpoint.getGateway()) $endpoint.getGateway()#end #if ($endpoint.getGatewayHost()) $endpoint.getGatewayHost()#end</td>
                    <td>$endpoint.getUriBase()</td>
                    <td>$endpoint.getEndpoint()</td>
                    <td>#if ($endpoint.getAsync()) $endpoint.getAsync() #end</td>
                </tr>
            #end
            </tbody>
        </table>
    </section>
</td>
</tr>
</table>

<div>
    <h2>Active Client Threads</h2>
    <ul>
        #foreach( $processInfo in $processes )
            <li>$processInfo</li>
        #end
    </ul> 
</div>


#include("manage/footer.vm")
