#include("manage/header.vm")

<script>
    var contracts = [];
    /*
    $.ajax({url: '/manage/contracts.json',dataType: 'json',type: 'GET'})
        .done(function(data) { contracts = data;})
        .fail(function(data) { $('.error').text($.parseJSON(data.responseText).message);});
        */
</script>

<header>
<em>GridPort Server Instance</em> | $request.getRemoteHost() | $this.getCurrentUser()  
| <a href="$this.getLogsUrl()">logs</a> 
| <form style="display:inline;" method="POST" action="$this.getRestartUrl()" onsubmit='return confirm("Reload configuration and restart the server ?");'><input type="submit" name="restart" value="RESTART"/></form>
</header>

#if ($msg != "")
<a class="error">$msg</a> 
#end

<section>
<h2>Users & Groups</h2>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Groups</th>
            <th><form style="display:inline;" method="POST" action="$this.getUsersUrl()" onsubmit='this.username.value=prompt("New username:"); return this.username.value ? true : false;'><input type="hidden" name="username"/><input type="submit" name="newuser" value="ADD"/></form></th>
        </tr>
    </thead>
    <tbody>
    #foreach( $user in $users )
        <tr><td><a href="$this.getUsersUrl()/$user.getUsername()">$user.getUsername()</a></td><td>$user.getGroups()</td></tr>
    #end
    </tbody>
</table>
</section>

<section>
<h2>SLA Contracts</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>IP Ranges</th>
            <th>Groups</th>
            <th>Rate</th>
            <th>Endpoints</th>
        </tr>
    </thead>
    <tbody>
    #foreach( $contract in $contracts )
        <tr>
        <td>$contract.getName()</td>
        <td>$contract.getIpRange()</td>
        <td>$contract.getAuthGroupList()</td>
        <td>#if ($contract.getIntervalMs()>0) $contract.getFrequency()/$contract.getIntervalMs()ms #end</td>
        <td>
            #foreach ( $endpointId in $contract.getEndpoints() )
                #set( $e =  $endpoints.get($endpointId) )
                [$e.getId()] $e.getUriBase() &rarr; $e.getEndpoint() <br/>
            #end
        </td>
        </tr>
    #end
    </tbody>
</table>
</section>

<div>
    <h2>Endpoints</h2>
    <table>
        <thead>
            <th>ID</id>
            <th>URI-BASE</th>
            <th>ENDPOINT-BASE</th>
        </thead>
        <tbody>
        #foreach( $endpoint in $endpoints.values() )
            <tr>
                <td>$endpoint.getId()</td>
                <td>$endpoint.getUriBase()</td>
                <td>$endpoint.getEndpoint()</td>
            </tr>
        #end
        </tbody>
    </table>
</div>

<div>
    <h2>Active Client Threads</h2>
    <ul>
        #foreach( $processInfo in $processes )
            <li>$processInfo</li>
        #end
    </ul> 
</div>


#include("manage/footer.vm")
