 #include("manage/header.vm")

<header>
 <em>GridPort Server Instance</em> | $request.getRemoteHost() | $this.getCurrentUser()
 | <a href="$this.getHomeUrl()">home</a>   
 | <a href="$this.getLogsUrl()">logs</a> 
 | <form style="display:inline;" method="POST" action="$this.getRestartUrl()" onsubmit='return confirm("Reload configuration and restart the server ?");'><input type="submit" name="restart" value="RESTART"/></form>
</header>

<h2>Contract: $contract.getName() </h2>
<form>
   <p>
    <label>Rate limit:</label>
    <input name="frequency" value="$contract.getFrequency()"/> requests per <input name="interval" value="$contract.getIntervalMs()"/>(ms)
   </p>
</form>
<h2>IP Filters</h2>
 <table>
     #foreach ( $filter in $contract.getIpFilters() )
        <tr><td>$filter</td><td><form method="POST" action="$ipFiltersUri/$group"><input type="submit" value="remove"/></form></td></tr>
     #end
     <tr><td>
     <form method="POST" action="$ipFiltersUri">
        <input name="filter"/></td><td><input type="submit" value="add filter"/>
     </form>
     </td></tr>
 </table>
<h2>Available to Groups</h2>
 <table>
     #foreach ( $group in $contract.getGroups() )
        <tr><td>$group</td><td><form method="POST" action="$groupsUri/$group"><input type="submit" value="remove"/></form></td></tr>
     #end
     <tr><td>
     <form method="POST" action="$groupsUri">
        <input name="group"/></td><td><input type="submit" value="add group"/>
     </form>
     </td></tr>
 </table>
 
<h2>Available Endpoints</h2>
<form method="POST" action="$endpointsUri">
<table>
 #foreach( $endpoint in $endpoints.values() )
    <tr>
        <td><input name="endpoint" value="$endpoint.getId()" type="checkbox" #if ($contract.getEndpoints().contains($endpoint.getId())) checked="checked" #end onchange="this.form.submit();"/></td>
        <td>#if ($endpoint.getGateway()) $endpoint.getGateway()#end</td>
        <td>$endpoint.getUrlPattern($request.getServerName())</td>
        <td>#if ($endpoint.getHttpMethod()) $endpoint.getHttpMethod()#end</td>
        <td>#if ($endpoint.getAsync()) $endpoint.getAsync() #end</td>
        <td>$endpoint.getEndpoint()</td>
        <td>$endpoint.getId()</td>
    </tr>
 #end
</table>
</form>

 #include("manage/footer.vm")
 