 #include("manage/header.vm")

<header>
    #menu()
</header>

<h2>Contract: $contract.getName() </h2>
<form method="POST">
   <p>
    <label>Rate limit:</label>
    <input name="frequency" value="$contract.getFrequency()"/> requests per <input name="interval" value="$contract.getIntervalMs()"/>(ms)
    <input type="submit" value="update"/>
   </p>
</form>
<h2>IP Filters</h2>
 <table>
     #foreach ( $filter in $contract.getIpFilters() )
        <tr><td>$filter</td><td><form method="POST" action="$ipFiltersUri/$filter"><input type="submit" value="remove"/></form></td></tr>
     #end
     <form method="POST" action="$ipFiltersUri">
        <tr><td><input name="filter"/></td><td><input type="submit" value="add filter"/></td></tr>
     </form>
 </table>
<h2>Available to Groups</h2>
 <table>
     #foreach ( $group in $contract.getGroups() )
        <tr><td>$group</td><td><form method="POST" action="$groupsUri/$group"><input type="submit" value="remove"/></form></td></tr>
     #end
     <form method="POST" action="$groupsUri">
        <tr><td><input name="group"/></td><td><input type="submit" value="add group"/></td></tr>
     </form>
 </table>
 
<h2>Available Endpoints</h2>
<form method="POST" action="$endpointsUri">
<table>
 #foreach( $endpoint in $endpoints.values() )
    <tr>
        <td><input name="endpoint" value="$endpoint.getId()" type="checkbox" #if ($contract.getEndpoints().contains($endpoint.getId())) checked="checked" #end onchange="this.form.submit();"/></td>
        <td>#if ($endpoint.getGateway()) $endpoint.getGateway()#end</td>
        <td>$endpoint.getUrlPattern($request.getServerName())</td>
        <td>#if ($endpoint.getHttpMethod()) $endpoint.getHttpMethod()#end</td>
        <td>#if ($endpoint.getAsync()) $endpoint.getAsync() #end</td>
        <td>$endpoint.getEndpoint()</td>
        <td>$endpoint.getId()</td>
    </tr>
 #end
</table>
</form>

 #include("manage/footer.vm")
 