 #include("manage/header.vm")

<header>
 <em>GridPort Server Instance</em> | $request.getRemoteHost() | $this.getCurrentUser()
 | <a href="$this.getHomeUrl()">home</a>   
 | <a href="$this.getLogsUrl()">logs</a> 
 | <form style="display:inline;" method="POST" action="$this.getRestartUrl()" onsubmit='return confirm("Reload configuration and restart the server ?");'><input type="submit" name="restart" value="RESTART"/></form>
</header>

<h2>Endpoint: [$endpoint.getId()] $endpoint.getUrlPattern($request.getServerName()) </h2>
<style>
    table input { width: 400px;}
</style>
<form method="POST">
    <table>
    <tr><td><label>SSL:</label></td><td><input name="ssl" value="$endpoint.getSsl()"/></td></tr>
    <tr><td><label>Gateway:</label></td><td><input name="gateway" value="$endpoint.getGateway()"/></td></tr>
    <tr><td><label>Gateway Host:</label></td><td><input name="gatewayHost" value="$endpoint.getGatewayHost()"/></td></tr>
    <tr><td><label>URI-Pattern:</label></td><td><input name="uriBase" value="$endpoint.getUriBase()"/></td></tr>
    <tr><td><label>Allwed methods:</label></td><td><input name="httpMethod" value="$endpoint.getHttpMethod()"/></td></tr>
    <tr><td><label>Async status coce:</label></td><td><input name="async" value="$endpoint.getAsync()"/></td></tr>
    <tr><td><label>Endpoint-URI-Base:</label></td><td><input name="endpoint" value="$endpoint.getEndpoint()"/></td></tr>
    <tr><td></td><td><input type="submit" value="submit"/></td></tr>
    </table>
</form>
 #include("manage/footer.vm")

 <h2>Available via Contracts:</h2>