#include("manage/header.vm")

<script>
    var contracts = [];
    $.ajax({url: '/manage/contracts.json',dataType: 'json',type: 'GET'})
        .done(function(data) { contracts = data;})
        .fail(function(data) { $('.error').text($.parseJSON(data.responseText).message);});
</script>

<header>
<em>GridPort Server Instance</em> | $request.getRemoteHost() | $this.getCurrentUser()  
| <a href="$this.getLogsUrl()">logs</a> 
| <form style="display:inline;" method="POST" action="$this.getRestartUrl()" onsubmit='return confirm("Reload configuration and restart the server ?");'><input type="submit" name="restart" value="RESTART"/></form>
</header>

#if ($msg != "")
<a class="error">$msg</a> 
#end

<table cellpadding="10">
<tr>
<td>
    <section>
    <h2>
        Contracts & SLAs
        <form style="display:inline;" method="POST" action="$this.getContractsUrl()" onsubmit='this.name.value=prompt("New contract name:"); return this.name.value ? true : false;'><input type="hidden" name="name"/><input type="submit" value="ADD"/></form>
    </h2>
    #contracts( $contracts )
    </section>
</td>
<td>
    <section>
    <h2>
        Users & Groups
        <form style="display:inline;" method="POST" action="$this.getUsersUrl()" onsubmit='this.username.value=prompt("New username:"); return this.username.value ? true : false;'><input type="hidden" name="username"/><input type="submit" name="newuser" value="ADD"/></form>
    </h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Groups</th>
            </tr>
        </thead>
        <tbody>
        #foreach( $user in $users )
            <tr><td><a href="$this.getUsersUrl()/$user.getUsername()">$user.getUsername()</a></td><td>$user.getGroups()</td></tr>
        #end
        </tbody>
    </table>
    </section>
</td>
</table>

    <section>
        <h2>
            Routing Table (Endpoints)
            <form style="display:inline;" method="POST" action="$this.getEndpointsUrl()"><input type="submit" name="newendpoint" value="ADD"/></form>
        </h2>
        <table>
            <thead>
                <th>Protocol://Host/URI-Pattern</th>
                <th>Gateway</id>
                <th>Allowed Methods</id>
                <th>Async </th>
                <th>Endpoint-URI-Base</th>
                <th>ID</id>
            </thead>
            <tbody>
            #foreach( $endpoint in $endpoints.values() )
                <tr>
                    <td>
                        <a href="$this.getEndpointUrl($endpoint.getId())">
                            $endpoint.getUrlPattern($request.getServerName())
                        </a>
                    </td>
                    <td>#if ($endpoint.getGateway()) $endpoint.getGateway()#end</td>
                    <td>#if ($endpoint.getHttpMethod()) $endpoint.getHttpMethod()#end</td>
                    <td>#if ($endpoint.getAsync()) $endpoint.getAsync() #end</td>
                    <td>$endpoint.getEndpoint()</td>
                    <td><a href="$this.getEndpointUrl($endpoint.getId())">$endpoint.getId()</a></td>
                </tr>
            #end
            </tbody>
        </table>
    </section>

<div>
    <h2>Active Client Threads</h2>
    <ul>
        #foreach( $processInfo in $processes )
            <li>$processInfo</li>
        #end
    </ul> 
</div>


#include("manage/footer.vm")
