 #include("manage/header.vm")

 <script>
  function checkForm(form)
  {
    if(form.password.value == "") {
      alert("Error: Password cannot be blank!");
      form.password.focus();
      return false;
    }
    if (form.password.value != form.password2.value) {
      alert("Error: Password did not match!");
      form.password2.focus();
      return false;
    }
  }
 </script>

<header>
    #menu()
</header>

 <h2>User: $user.getUsername() #if ($user.hasPassword()) &#x2713; <small>password-protected</small> #else ! <small>no-password</small> #end</h2>
 <form method="POST" onsubmit="return checkForm(this);">
    <p>
        <label>Password:</label><input name="password" type="password" value=""/> 
        <label>Retype:</label><input name="password2" type="password" value=""/>
        <input type="submit" value="Change Password"/>
    </p>
 </form>
 
 <h2>Group memberships</h2>
 
 <table>
 #foreach ( $group in $user.getGroups() )
    <tr><td>$group</td><td><form method="POST" action="$groupsUri/$group"><input type="submit" value="remove"/></form></td></tr>
 #end
 <tr><td>
 <form method="POST" action="$groupsUri">
    <input name="group"/></td><td><input type="submit" value="add group"/>
 </form>
 </td></tr>
 </table>

 #include("manage/footer.vm")